<div class="container">
    <div class="shadow-lg p-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-6">

                    <div class="form-group">
                        <label for="item-quantity"><b>Number Of Beds: </b></label>
                        <input type="number" min="0" class="form-control border border-secondary"
                            value="{{room.numberOfBeds}}" id="id_numberOfBeds" name="numberOfBeds">
                    </div>

                    <div class="form-group">
                        <label for="item-quantity"><b>Price: </b></label>
                        <input type="number" min="0" step="0.01" class="form-control border border-secondary"
                            value="{{room.price}}" id="id_price" name="price">
                    </div>

                </div>

                <div class="col-6">

                    <div class="form-group ">
                        <label for="item-type"><b>Capacity : </b></label>
                        <input type="number" min="1" class="form-control border border-secondary"
                            value="{{room.capacity}}" id="id_capacity" name="capacity">
                    </div>

                    <div class="form-group">
                        <label for="item-quantity"><b>Room Type</b></label>
                        <select name="roomType" required="" id="id_roomType"
                            class="form-control border border-secondary">

                            <option value="A" {% if room.roomType == 'A' %} selected {% endif %}>A</option>

                            <option value="B" {% if room.roomType == 'B' %} selected {% endif %}>B
                            </option>

                            <option value="C" {% if room.roomType == 'C' %} selected {% endif %}>C
                            </option>

                        </select>
                    </div>
                    <button type="submit" name="submit" class="btn btn-outline-success float-right">Save
                        Changes</button>
                </div>

            </div>
        </form>
        <br>


    </div>
</div>