{% extends '../index.html' %}
{% block context %}
<div class="row justify-content-center m-5">

    <div class="card border-danger shadow-lg">

        <div class="card-body">
            <p>Room number: {{ booking.roomNumber.number }} </p> <br>
            <p>Guest name: {{ booking.guest.user.first_name }} {{ booking.guest.user.last_name }}</p><br>
            <p>from {{ booking.startDate }} to {{ booking.endDate }}</p>
            <p>Price: {{ total_price }}</p>

            <p>Are you sure to check out?</p>

            <form action="" method="post">
                {% csrf_token %}
                <a class="btn btn-info" href="{% url 'bookings' %}">Cancel</a>

                <input class="btn btn-danger" type="submit" value="Confirm">
            </form>

        </div>

    </div>

</div>
&nbsp
{% endblock %}