{% extends '../index.html' %}
{% block context %}
<br>
<div class="col d-flex justify-content-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <a class="btn btn-secondary active" href="{% url 'monthlyReport' %}">Overview</a>
        <a class="btn btn-secondary active" href="{% url 'roomTypeReport' %}">Room Type</a>
        <a class="btn btn-secondary active" href="{% url 'densityReport' %}">Density</a>
    </div>
</div>

<div class="container py-5">
    <div class="table-header row">
        <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <h2>Overview</h2>
        </div>

    </div>

    <!-- 
        
     -->
    <br>

    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-3" id="total-orders">
                    <div class="card-header">
                        <h5 class="card-title">Total Booking</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_bookings }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-3" id="orders-delivered">
                    <div class="card-header">
                        <h5 class="card-title">Total Checked Out</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_checked_out }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-3" id="orders-pending">
                    <div class="card-header">
                        <h5 class="card-title">Total Turnover</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_turnover }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 

      -->


    <table class="table table-hover table-striped">
        <thead class="bg-secondary rounded">
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <th>Room Number<input type="number" min="0" name="number" value="{{number}}"
                            class="form-control border border-secondary"></th>
                    <th>Room Type<input type="text" name="type" value="{{type}}" list="roomTypes"
                            class="form-control border border-secondary">
                        <datalist id="roomTypes">
                            <option value="King">
                            <option value="Luxury">
                            <option value="Normal">
                            <option value="Economic">
                        </datalist>
                    </th>
                    <th>Start Day<input type="date" name="fd" value="{{fd}}"
                            class="form-control border border-secondary"></th>
                    <th>End Day<input type="date" name="ed" value="{{ed}}" class="form-control border border-secondary">
                    </th>
                    <th><button type="submit" name="filter" class="btn btn-warning w-100">Filter</button></th>
                </form>

            </tr>

        </thead>
    </table>
    <div class="table-header row">

        <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <h4>Checked Out</h4>
        </div>

    </div>
    <table class="table table-hover table-striped">
        <thead class="bg-secondary rounded">
            <tr>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Guest Name</th>
                <th>Start Day</th>
                <th>End Day</th>
                <th>Total Amount</th>
                <th>Ratio</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{bill.room.number}}</td>
                <td>{{bill.room.roomType}}</td>
                <td>{{bill.guest.user.first_name}}</td>
                <td>{{ bill.startDate }}</td>
                <td>{{ bill.endDate }}</td>
                <td>{{ bill.totalAmount }}</td>
                <td>
                    {% for key, value in ratio.items %}
                    {% if key == bill %}
                    {{ value }}%
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
{% endblock %}